.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search_1 {
  margin-top: 5%;
  text-align: left;
}

.search_3 {
  margin-top: 3%;
  text-align: left;
}

.request_form{
  margin-top:10%;
}

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  width: 50%;
}

.parseHeader {
  margin-top: 20%;
}